<div>
    <h2>Register</h2>
    <form name="form" ng-submit="vm.register()" role="form">
        <div ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="username">First Name</label>
            <input type="text" name="firstName" id="firstName" ng-model="vm.user.firstName" required />
        </div>
        <div ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="username">Last Name</label>
            <input type="text" name="lastName" id="Text1" ng-model="vm.user.lastName" required />
        </div>
        <div ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" ng-model="vm.user.username" required />
        </div>
        <div ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" ng-model="vm.user.password" required />
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading">Register</button>
            <a href="/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
