<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<head>
<link rel="stylesheet" type="text/css" href="Crealink.css "/>
</head>

<body>

<div ng-app="Crealink" ng-controller="myCtrl">

<button class="button button3" ng-click="doClick('signIn')">Accueil</button>
<br>
	<div ng-show="showRegister">
		<form novalidate>

			<div class="fondbleu">
				<img class="displayed" src="/home/gpennec/Bureau/Créalink" width="150" height="...">
				<h2>Description du profil</h2>
			</div>

			<!--<div class="margin">
	    		Photo de profil:<br>
				<input type="file" id="photoProfil" accept="image/png, image/jpeg" ng-model="user.photo">
			</div>-->

			<div class="margin">
				<label for="first">* Prenom : </label><br>
				<input class="fill" type=”text” name="first" id="first" ng-model="user.firstName" required><br>
				<label for="last">* Nom : </label><br>
				<input class="fill" type=”text” name="last" id="last" ng-model="user.lastName" required><br>
				<label for="mail">* Mail : </label><br>
				<input class="fill" type=”email” name="mail" id="mail" ng-model="user.email" required><br>
				<label for="phone">Téléphone : </label><br>
				<input class="fill" type=”tel” name="phone" id="phone" ng-model="user.phoneNumber"><br>
				<label for="username">* Pseudo : </label><br>
				<input class="fill" type=”text”  name="username" id="username" ng-model="user.username" required><br>
				<label for="password">* Mot de passe : </label><br>
				<input class="fill" type=”password” name="password" id="password" ng-model="user.password" required><br>
			</div>

			<div class="margin center">
				<button class="button button1" ng-click="doOK('registerArtiste')">S'inscrire (Artiste)</button>
			</div>
			<div class="margin center">
				<button class="button button1" ng-click="doOK('registerMuse')">S'inscrire (Muse)</button>
			</div>
			<div class="margin center">
				<button class="button button1" ng-click="doOK('registerUser')">S'inscrire (Utilisateur Simple)</button>
			</div>
  		</form>
    </div>
    <div ng-show="showSignIn">
    	<div class="fondbleu">
	    	<img class="displayed" src="/home/gpennec/Bureau/Créalink" width="150" height="...">
		    <h2>Se connecter</h2>
		</div>
	    <form name="form" role="form" novalidate>
	        <div class="margin" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
	            <label for="username">Nom d&#39;utilisateur</label><br>
	            <input class="fill" type="text" name="username" id="username" ng-model="logData.username" required />
	        </div>
	        <div class="form-group margin" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
	            <label for="password">Mot de passe</label><br>
	            <input class="fill" type="password" name="password" id="password" ng-model="logData.password" required />
	        </div>
	        <div class="form-actions center margin">
	            <button class="button button1" type="submit" ng-disabled="form.$invalid || logData.dataLoading" ng-click="doOK('signInArtiste')">Se connecter (Artiste)</button>
	        </div>
	        <div class="form-actions center margin">
	            <button class="button button1" type="submit" ng-disabled="form.$invalid || logData.dataLoading" ng-click="doOK('signInMuse')">Se connecter (Muse)</button>
	        </div>
	        <div class="form-actions center margin">
	            <button class="button button1" type="submit" ng-disabled="form.$invalid || logData.dataLoading" ng-click="doOK('signInUser')">Se connecter (SimpleUser)</button>
	        </div>
	    </form>
		<div class="center margin">
			<button class="button button1" ng-click="doClick('register')">Créer un compte</button>
		</div>
    </div>
    <div ng-show="showMonMur">
    	<h2>{{loggedUser.username}}   ({{loggedUser.firstName}} {{loggedUser.lastName}})</h2>
    	Tel: {{loggedUser.phoneNumber}}<br>
    	e-mail: {{loggedUser.email}}<br>
    	Description: {{loggedUser.description}}<br>
	    <div ng-repeat="p in listPosts">
	    	<table>
		    	<tr>
		    		<td>{{p.title}}</td>
		    		<td>{{p.date}}</td>
		    	</tr>
		    	<tr>
		    		<td>{{p.text}}</td>
		    	</tr>
		    	<tr>
		    		<td>{{p.listLike}}</td>
		    	</tr>
    			<button class="button button2" ng-click="doOK('supprimerPost')"
    			ng-model = "myPost.id" value = "{{p.id}}">Delete</button>
	  		</table>
	  	</div>
	  	<button class="button button1" ng-click="doOK('createPost')">Créer un Post</button>
    </div>
    <div ng-show="showCreatePost">
    	<h2>Nouveau Post</h2>
    	<form novalidate>
    		<div class="center margin">
		    	<table>
		    		<!--<tr>
		    			<td>
							Image to upload:<br>
							<input type = "file" accept = "image/png, image/jpeg" ng-model = "post.photo">
						</td>
					</tr>-->
			    	<tr>
			    		<td>Title<input class="fill" type="text" ng-model="post.title"></td>
			    	</tr>
			    	<tr>
			    		<td><textarea rows="20" cols="100" ng-model = "post.text">Your post</textarea></td>
			    	</tr>
			  	</table>
			</div>
			<div class="center margin">
				<button class="button button1" ng-click="doOK('addPost')">Post</button>
			</div>
		</form>
    </div>
    <div ng-show="showMesCreations">
    </div>
    <div ng-show="showMenuArtiste">
    	<h2>Menu Principal</h2>
    	<div class="center margin">
	   		<button class="button button1" ng-click="doOK('monMur')">Mon Mur</button>
	   		<button class="button button1" ng-click="doOK('mesCreations')">Mes Créations</button>
	   		<button class="button button1" ng-click="doOK('contacts')">Contacts</button>
	   		<button class="button button1" ng-click="doOK('showListUsers')">Rechercher un Artiste / une Muse</button>
   		</div>
    </div>
    <div ng-show="showMenuMuse">
       	<h2>Menu Principal</h2>
       	<div class="center margin">
	   		<button class="button button1" ng-click="doOK('monMur')">Mon Mur</button>
	   		<button class="button button1" ng-click="doOK('contacts')">Contacts</button>
	   		<button class="button button1" ng-click="doOK('showListUsers')">Rechercher un Artiste / une Muse</button>
   		</div>
    </div>
    <div ng-show="showMenuUser">
       	<h2>Menu Principal</h2>
       	<div class="center margin">
	   		<button class="button button1" ng-click="doOK('contacts')">Contacts</button>
	   		<button class="button button1" ng-click="doOK('showListUsers')">Rechercher un Artiste / une Muse</button>
   		</div>
    </div>
    <div ng-show="showContacts">
    	<h2>Demandes d'ami</h2>
    	<table>
	    	<tr ng-repeat="profile in listDemandesAmi">
	    		<td>{{ profile.username }}</td>
	    		<td>({{ profile.first_name }} {{profile.last_name}})</td>
	    		<td>
	    			<button class="button button1" ng-click="doOK('confirmerAmi')"
	    			ng-model = "$parent.oneFriend" value = "{{profile.username}}">Confirm</button>
	    		</td>
	    	</tr>
	  	</table>
    	<h2>Amis</h2>
    	<table>
	    	<tr ng-repeat="profile in listAmis">
	    		<td>{{ profile.username }}</td>
	    		<td>({{ profile.first_name }} {{profile.last_name}})</td>
	    		<td>
	    			<button class="button button1" ng-click="doOK('parlerAmi')"
	    			ng-model = "$parent.oneFriend" value = "{{profile.username}}">Chat</button>
	    		</td>
	    	</tr>
	  	</table>
	  	<h2>Vous connaissez peut-être</h2>
	  	<table>
	    	<tr ng-repeat="profile in listPropositionsAmi">
	    		<td>{{ profile.username }}</td>
	    		<td>({{ profile.first_name }} {{profile.last_name}})</td>
	    		<td>
	    			<button class="button button1" ng-click="doOK('demanderAmi')"
	    			ng-model = "$parent.oneFriend" value = "{{profile.username}}">Add</button>
				</td>
	    	</tr>
	    	<tr ng-repeat="profile in listUsers">
	    		<td>{{ profile.username }}</td>
	    		<td>({{ profile.first_name }} {{profile.last_name}})</td>
	    		<td>
	    			<button class="button button1" ng-click="doOK('demanderAmi')"
	    			ng-model = "$parent.oneFriend" value = "{{profile.username}}">Add</button>
				</td>
	    	</tr>
	  	</table>
    </div>
    <div ng-show="showChat">
	    <ul>
	    	<li ng-repeat="m in listMessages">{{m}}</li>
	  	</ul>
	  	<form novalidate>
		  	<textarea rows="5" cols="33" ng-model = "$parent.oneMessage">Type your message here</textarea>
		  	<button class="button button1" ng-click="doOK('envoyerMessage')">Send</button>
		</form>
    </div>
    <div ng-show="showListUsers">
    	<h2>Consulter un profil</h2>
    	<form novalidate>
    		<label ng-repeat="u in listUsers">
				<input type="radio" ng-model="$parent.oneUser" value="{{u.username}}">{{ u.username }} ({{ u.firstName }} {{u.lastName}})<br>
			</label>
	  		<button class="button button1" ng-click="doOK('showProfile')">Consulter</button>
    	</form>
    </div>
	<div ng-show="showProfile">
    	<form novalidate>
    		<input type="radio" ng-model="$parent.frequenceDonation" value="MONTHLY" selected>Monthly<br>
    		<input type="radio" ng-model="$parent.frequenceDonation" value="ANNUALLY">Annually<br>
    		<input type="number" ng-model="moneyDonation.value"><br>
    		<!--<select ng-model="">
    			<option ng-model="moneyDonation.currency" value="dollar">Dollar US</option>
    			<option ng-model="moneyDonation.currency" value="euro" selected>Euro</option>
    			<option ng-model="moneyDonation.currency" value="yuan">Yuan</option>
    		</select>-->
    		<button class="button button1" ng-click="doOK('donate')" ng-disabled="$parent.isDonating">Start donating</button>
    	</form>
    	<button class="button button2" ng-click="doOK('stopDonation')" ng-disabled="$parent.isDonating=false">Stop donating</button>
    	<div ng-repeat="p in listPosts">
	    	<table>
		    	<tr>
		    		<td><h2>{{p.title}}</h2></td>
		    		<td>{{p.date}}</td>
		    	</tr>
		    	<tr>
		    		<td>{{p.text}}</td>
		    	</tr>
		    	<tr>
		    		<td>{{p.likeList}}</td>
		    		<td><button class="button button1" ng-click="doOK('like')"
    			ng-model = "myPost.id" value = "{{p.id}}">Like</button></td>
		    	</tr>
	  		</table>
	  	</div>
    </div>
    <div ng-show="showMessage">
    {{message}}
    </div>

	<script src="app.js"></script>

	</body>
</html>
