# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Cyril\Documents\ENSEEIHT\2A_SN\Sem_2\applicationConcu\application_web\projet\GIT\Projet-Application-Web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
